asgiref==3.11.1
Django==6.0.6
django-filter==25.2
djangorestframework==3.17.1
drf-yasg==1.21.15
inflection==0.5.1
packaging==26.2
pillow==12.2.0
pytz==2026.2
PyYAML==6.0.3
sqlparse==0.5.5
tzdata==2026.2
uritemplate==4.2.0
